.cover-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/images/bg-cover.jpg') center center / cover no-repeat;
}

.cover-content {
    width: 80%;
    color: var(--bege);
    font-family: var(--font-hk);
    padding: 50px 0;
}

.cover-content > h2 {
    font-size: 3rem;
}

.cover-content > h2 > span {
    color: var(--red);
}

.cover-content > p {
    font-size: 0.9rem;
    padding: 5px 0 50px 0;
}

.cover-content > button {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-family: var(--font-garet);
    background-color: var(--yellow);
    color: var(--deep-blue);
    border: 1px solid var(--yellow);
}