.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}

.header-div-1,
.header-div-2 {
    display: flex;
    align-items: center;
    width: 50%;
}

.header-div-1 {
    justify-content: flex-start;
}

.header-div-2 {
    justify-content: flex-end;
    gap: 50px;
}

.header-div-1 > h1 {
    color: var(--bege);
    font-size: 1.7rem;
    margin-right: 20px;
}

.header-div-1 > h1 > span{
    color: var(--yellow);
}

.header-div-1 > input{
    border-radius: 3px;
    border: solid 1px var(--deep-blue-2);
    background-color: var(--deep-blue-2);
    color: var(--light-blue);
    padding: 8px;
    font-style: italic;
    width: 40%;
    outline: none;
}

.header-div-1 > input::placeholder {
    color: var(--light-blue);
}

.header-nav {
    display: flex;
    gap: 20px;
    border-right: 2px solid var(--deep-blue-2);
    padding: 3px 50px 3px 0;
}

.header-nav > li{
    list-style: none;
}

.header-nav > li > a {
    text-decoration: none;
    color: var(--bege);
    font-size: 0.8rem;
}

.header-nav > li > a:hover {
    color: var(--red);
    transition: 0.7s;
}

.btn-div > button {
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 0.8rem;
    font-family: var(--font-garet);
    cursor: pointer;
}

.btn-login {
    background-color: transparent;
    color: var(--yellow);
    border: 1px solid var(--yellow);
    margin-right: 10px;
}

.btn-singup {
    background-color: var(--yellow);
    color: var(--deep-blue);
    border: 1px solid var(--yellow);
}

.btn-div > button:hover {
    transform: scale(1.08);
    transition: 0.1s;
}

.sticky-nav {
    position: fixed;
    background-color: #002536;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: var(--light-blue);
    display: none;
}

@media (max-width: 1400px) {
    .header-wrapper {
        position: relative;
    }

    .header-div-2 {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        right: 0;
        top: 50px;
        background-color: rgba(0, 13, 26, 0.938);
        height: 350px;
        transition: height 1s ease;
        width: 30%;
    }

    .header-nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
    }

    .btn-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .btn-login {
        margin-right: 0;
    }

    .nav-links-hidden {
        overflow: hidden;
        height: 0;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 999px) {
    .header-div-1 {
        width: 90%;
    }

    .header-div-1 > input{
        width: 100%;
    }
}

@media (max-width: 599px) {
    .header-div-1 > h1 {
        font-size: 1.4rem;
    }

    .header-div-2 {
        top: 46px;
        width: 100%;
    }
}